.buy_item_num,
.cart_in_item_num {
  margin-left: 5px;
  padding: 3px 8px;
  background: #f5f5f5;
  border-radius: 8px;
  font-size: 14px;
}

.buy_item_title,
.cart_in_item_title {
  margin: 50px 0 20px 0;
  display: flex;
  align-items: center;
}

.buy_item_list_container {
  display: flex;
  justify-content: end;
}
.cart_item_list_wrap,
.cart_item_list_container,
.cart_item_list_wrap .item {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.cart_item_list_wrap .item {
  position: relative;
}

/* ADD주황버튼 */
.buy_item_add_btn {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 260px;
  height: auto;
  padding: 20px 0 20px 20px;
  padding-left: 20px;
  background: #ff5833;
  border-radius: 10px 10px 10px 0;
  font-size: 16px;
  color: #fff;
  text-align: left;
}
.buy_item_input {
  width: 80%;
  background: transparent;
  border: none;
  color: #fff;
}

.buy_item_input:first-child {
  margin-bottom: 5px;
}
.buy_item_input::placeholder {
  color: #fff;
}
.buy_item_input:focus {
  outline: none;
}

.buy_item_check_btn {
  position: absolute;
  top: 22px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
}

/* .cart_item_list_wrap {
  max-height: 600px;
  overflow-y: auto;
} */
.one_item_wrap {
  position: relative;
}

.one_item_wrap.off {
  display: flex;
  justify-content: end;
}

.item_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: end;
  margin-bottom: 10px;
  padding: 20px;
  width: 260px;
  height: auto;
  padding: 20px 0 20px 20px;
  padding-left: 20px;
  border-radius: 10px 10px 10px 0;
  font-size: 16px;
  background: #f3f3f3;
  color: #131313;
  text-align: left;
}

.item_inner .item_price {
  font-size: 12px;
}

.item_inner .item_name_input,
.item_inner .item_price_input {
  border: none;
  background: transparent;
  color: #333;
  width: 190px;
}
.item_inner .item_name_input::placeholder,
.item_inner .item_price_input::placeholder {
  color: #333;
}

.item_inner .item_name_input:focus,
.item_inner .item_price_input:focus {
  outline: none;
}

.item_inner .item_name_input::placeholder {
  font-size: 16px;
}

.item_inner .item_name_input {
  font-size: 16px;
}
.item_inner .item_price_input {
  font-size: 12px;
}

.item_inner.item_on {
  border: 2px solid #ff5833;
}
.delete_btn,
.change_btn {
  display: block;
  margin-right: 5px;
  border: none;
  background: transparent;
  width: 25px;
  height: 50px;
  color: #ff5833;
  font-size: 16px;
  cursor: pointer;
  padding-left: 10px;
}

.item_btn_container {
  position: absolute;
  right: -34px;
  top: 12px;
  display: flex;
}

.item_btn_click_area {
  position: absolute;
  top: 5px;
  left: -50px;
  display: inline-block;
  width: 80px;
  height: 70px;

  cursor: pointer;
}

.item_btn_click_area.turn_off {
  left: -50px;
  width: 50px;
}

.orange {
  color: #ff5833;
}

.cart_item_list_container .item_inner {
  background: #cfcfcf;
}
