* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  background: #f3f3f3;
}
.wrap {
  position: relative;
  width: 390px;
  height: 100vh;
  padding: 50px;
  background: #fff;
}
